In [1]:
# Imports
import os
import librosa
from tqdm import tqdm_notebook as tqdm
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
def getFeeling(item):
    if item[0]=='a':
        return('angry')
    elif item[0]=='f':
        return('fear')
    elif item[0]=='d':
        return('disgust')
    elif item[0]=='h':
        return('happiness')
    elif item[0]=='s' and item[1]=='a':
        return('sadness')
    elif item[0]=='s'and item[1]=='u':
        return('surprise')
    elif item[0]=='n':
        return('neutral')

In [ ]:

folderlist=os.listdir('Savee_Data')

for foldername in tqdm(folderlist):
    insidefolderlist = os.listdir('Savee_Data/'+foldername)
    count=1
    for name in insidefolderlist:
        # loading the file
        amplitude_data, sampling_rate = librosa.load('Savee_Data/'+foldername+'/'+name,sr=None)

        # Deciding number of features we want to extract
        no_of_mfcc_features_to_extract = 13

        # Taking the Gender and Feeling Information
        gender = "male"
        feeling = getFeeling(name)

        # Extracting MFCC Features from File
        mfcc= librosa.feature.mfcc(y=amplitude_data, n_mfcc=no_of_mfcc_features_to_extract)
        mfcc=mfcc.T
        mfcc = mfcc.flatten()

        # Making DataFrame of Features
        mfcc_dataframe = pd.DataFrame(mfcc)

        # Transposing the Data so we get features as columns and value per window as rows
        mfcc_dataframe=mfcc_dataframe.T
        
        mfccShape=mfcc.shape

        # Adding Column Headings
        mfcc_dataframe_columns=[]
        count=0
        for i in range (0,mfccShape[0]):
            count+=1
            mfcc_dataframe_columns.append("Feature "+str(count))
            if(count==13):
                count=0

        mfcc_dataframe.columns = mfcc_dataframe_columns

        # Adding Gender and Feeling Data
        mfcc_dataframe.insert(0,"Gender",gender)
        mfcc_dataframe.insert(1,"Feeling",feeling)

        ## Saving the DataFrame to CSV
        nameToSaveFileAs= "Script/"+foldername+"/"+name+"_.csv"
        mfcc_dataframe.to_csv(nameToSaveFileAs,index=False)
        
    count+=1

In [ ]:
frame=[]
newfolderlist=os.listdir('Script')

for foldername in tqdm(newfolderlist):
    insidefolderlist = os.listdir('Script/'+foldername)
    for filename in tqdm(insidefolderlist):
        frame_df = pd.read_csv("Script/"+foldername+"/"+filename)
        frame.append(frame_df)

result=pd.concat(frame)

result.to_csv("Script/Savee_Data.csv",index=False)

# Experimental Code

In [8]:
result=pd.read_csv("Script/Savee_Data.csv")

In [9]:
result.head()

,Gender,Feeling,Feature 1,Feature 2,Feature 3,Feature 4,Feature 5,Feature 6,Feature 7,Feature 8,...,Feature 4.614,Feature 5.614,Feature 6.614,Feature 7.614,Feature 8.614,Feature 9.614,Feature 10.614,Feature 11.614,Feature 12.614,Feature 13.614
0,male,angry,-467.79404,28.346397,26.141340,23.741087,21.987919,20.844435,19.538513,17.332968,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,male,angry,-454.67337,23.461258,14.529067,17.294468,21.273907,14.195907,6.361651,9.511499,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,male,angry,-464.99084,23.921410,22.738167,20.964844,18.853752,16.678328,14.677694,13.012793,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,male,angry,-427.94107,10.924686,10.869937,10.781180,10.661923,10.516663,10.350504,10.168736,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,male,angry,-427.63843,16.929111,16.648064,16.187489,15.558844,14.777711,13.863232,12.837587,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
result=result.fillna(0)

In [11]:
result=pd.get_dummies(result, columns=["Feeling"])

In [12]:
result.to_csv("Script/Savee_Data_Cleaned.csv",index=False)